<% include partials/header %>

<!-- nav -->
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Ridesharing</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/logout">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/profile">Profile <i class="fa fa-user" aria-hidden="true"></i></a></li>
	      </ul>
	    </div>
	  </div>
	 </nav>

<!-- method = POST sends a post request to /rides -->
<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content" class="hidden">
						<h1>Find a Ride</h1><br>
					<form action="/rides/find" method="POST" class="entryform">
		 				<input type="search" class="form-control" id="address-input" placeholder="origin" name="origin">
		 				<input type="search" class="form-control" id="address-inputs" placeholder="destination" name="destination">

		 				<script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
		 				<script>
		 					var placesAutocomplete = places({
		  						container: document.querySelector('#address-input')
							});
		 				</script>

		 				<script>
		 					var placesAutocomplete = places({
		   						container: document.querySelector('#address-inputs')
							});
		 				</script>
						<input type="date" class="form-control" placeholder="date" name="date">
						<br>

						<a class="btn btn-primary btn" href="/rides">Back to rides</a>
						<input class="btn btn-primary" type="submit" value="Submit" style="margin-left:20px">
					</form>
				</div>
			</div>
		</div>
</div>

<script>
$(document).ready(function(){
    $('#content').fadeIn(800).removeClass('hidden');
});
</script>
<% include partials/footer %>