<% include partials/header %>
<div class="container" style="padding-top:6%">
		<div class="row">
			<div class="col-lg-12">
				<div id="content" class="hidden">
					<h1>Sign Up</h1>
					<br>
					<div class="form-group">
						<form action="/register" method="POST" class="authform">
						<div id="split-form">
							<input type="text" class="form-control" placeholder="first" name="first" required>
							<input type="text" class="form-control" placeholder="last" name="last" required>
						</div>
						<input type="text" class="form-control" name="phone" placeholder="phone number" required>
						<input type="text" class="form-control" placeholder="username" name="username" required>
						<div class="input-group">
							<input type="password" class="form-control" placeholder="password" name="password" required>
							<span class="input-group-btn">
								<button class="btn btn-default">Submit</button>
							</span>
						</div>
						<br>
						<a href="/">Back to main page</a>

						</form>
					</div>

    			</div>
			</div>
		</div>
	</div>

<script>
$(document).ready(function(){
    $('#content').fadeIn(800).removeClass('hidden');
});
</script>

<% include partials/footer %>